<!-- <h1>COMPONENT: nav</h1> -->

<!-- <h1>Chuck Baker Photography</h1> -->

<!-- 
<mat-toolbar>
    <mat-toolbar-row>
        <span>First Row</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span>Second Row</span>
    </mat-toolbar-row>
</mat-toolbar>
 -->

<!-- 
<mat-sidenav-container>
    <h1>Chuck Baker Photography</h1>
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav position="end">End</mat-sidenav>
    <section>Main</section>
</mat-sidenav-container>
 -->

 
<mat-toolbar class="fixed-header" color="gray">
    <!-- <h1>ngStore</h1> -->
    <img class="navLogo" src="../../assets/images/0elements/cbaker_logo.svg" routerLink="/">

    <!-- <button mat-button routerLink="/">Home</button> -->

    <!-- <button mat-button routerLink="/about">About</button> -->
    <!-- <button mat-button routerLink="/masonry">Masonry</button> -->

<!-- 
    <button mat-button routerLink="/boom">Boom Project</button>
    <button mat-button routerLink="/classic">Classics</button>
    <button mat-button routerLink="/fitness">Fitness</button>
    <button mat-button routerLink="/life">Lifestyle</button>
    <button mat-button routerLink="/men">Men</button>
    <button mat-button routerLink="/portraits">Portraits</button>
    <button mat-button routerLink="/still">Still Life</button>
    <button mat-button routerLink="/women">Women</button>
 -->

    <button mat-button routerLink="/women">Women</button>
    <button mat-button routerLink="/portraits">Portraits</button>
    <button mat-button routerLink="/boom">Boom Project</button>
    <button mat-button routerLink="/life">Lifestyle</button>
    <button mat-button routerLink="/fitness">Fitness</button>
    <button mat-button routerLink="/men">Men</button>
    <button mat-button routerLink="/classic">Classics</button>
    <button mat-button routerLink="/still">Still Life</button>

</mat-toolbar>